.lasagna {
  text-transform: lowercase; 
}

.head {
  text-decoration-line: underline;
  color: orange;
  text-align: center;
}

.desc {
  text-decoration-line: overline;
  color: orange;
}

.ingr {
  color: red;
}

.steps {
  background-color: beige;
  color: green;
}