.lasagna {
  text-transform: lowercase; 
}

.head {
  text-decoration-line: underline;
  color: orange;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lasagna.desc {
  text-decoration-line: overline;
  color: orange;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lasagna.ingr {
  color: red;
  font-style: oblique;
}

.lasagna.steps {
  background-color: beige;
  color: green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fancy {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mojito {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caution {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
  font-size: xx-large;
}

.mojito.desc {
  color: lightgreen;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

